.modal {
  position: absolute;
  box-sizing: border-box;
  right: -40px;
  top: -105px;
  background-color: #000;
  border-radius: 15px;
  width: 240px;
  max-height: 305px;
  padding: 10px;
  z-index: 1;
}

.container {
  font-size: 16px;
}

.item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  cursor: pointer;
}

.left {
  font-size: 16px;
}

.right {
  display: flex;
  align-items: center;
}

.name {
}

.dot {
  width: 1px;
  height: 1px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #fff;
  padding: 2px;
  margin: 5px;
}

.detail {
  color: #999;
}

.header {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.content {
  margin-top: 10px;
}

.choice {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.title {
}
.pick {
  cursor: pointer;
}
