.content {
  border: 1px solid #ccc;
}

.line {
  height: 18px;
  /* border: 1px solid #ccc; */
}

.container {
  outline: none;
}

.span {
  /* border: 1px solid black; */
  outline: none;
}

.gap {
  margin-left: 4px;
}

.link {
  outline: none;
  /* border: 1px solid cornflowerblue; */
  color: cornflowerblue;
}
