.content {
  border: 0px solid #ccc;
}

.line {
  height: 20px;
}

.container {
  outline: none;
}

.span {
  border: 0px solid black;
  outline: none;
}

.link {
  outline: none;
  border: 0px solid cornflowerblue;
  color: cornflowerblue;
}
