.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.action {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.replies {
}
.reposts {
}
.favorites {
}
.statics {
}

.last {
}
